@use "../utilities/" as u;

footer {
  background-color: u.$clr-footer;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-logo {
    margin-inline: auto;
    margin-bottom: 3rem;
    scale: 1.5;
  }

  .secondary-navigation {
    .nav-list {
      padding: 0;
      justify-content: space-between;
      width: 100%;
      gap: 2rem;
    }

    a {
      color: u.$clr-primary-300;
      transition: color 250ms ease-in;
    }

    a:hover {
      color: u.$clr-white;
    }
  }

  .social-list {
    display: flex;
    gap: 1rem;
    padding: 0;
    justify-content: center;
    margin-top: 3rem;

    li {
      list-style-type: none;

      a {
        color: u.$clr-primary-300;
        transition: color 250ms ease-in;
      }

      a:hover {
        color: u.$clr-white;
      }
    }
  }


  .attribution {
    // font-size: 11px;
    text-align: center;
    margin-top: 3rem;

    a {
      color: hsl(214, 45%, 44%);
      text-decoration: none;

    }

    a:hover {
      color: yellow;
    }
  }

}
