@use "../utilities/" as u;

.article {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // outline: 1px solid;

  .column {
    order: 1;
    padding: 3.5rem 1.4rem;
    text-align: center;
    color: u.$clr-secondary-500;

    & * {
      margin-top: 2rem;
    }

    h2 {
      margin-bottom: 3rem;
    }

    p {
      color: u.$clr-primary-300;
    }

    a {
      margin-top: 3rem;
      text-transform: uppercase;
    }
  }
}

.services {
  &__photography {
    background-image: url("../assets/images/mobile/image-photography.jpg");
    color: u.$clr-primary-500;
  }

  &__graphic-design {
    background-image: url("../assets/images/mobile/image-graphic-design.jpg");
    color: u.$clr-primary-400;
  }
}

.services > * {
  background-size: cover;
  // background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 592px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-inline: 1rem;
}
