@use "../utilities/" as u;

.article {
  display: grid;

  .transform {
    background-image: url('../assets/images/mobile/image-transform.jpg');
  }

  .transform, .stand-out {
    padding-block: 10rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
  }

  .stand-out {
    background-image: url('../assets/images/mobile/image-stand-out.jpg');
  }

  .column {
    color: u.$clr-secondary-500;
    padding-inline: clamp(0.8rem, 5vw + 2rem, 10rem);
    padding-block: clamp(3rem, 1vw + 1rem, 5rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 1.5rem;
    }

    p {
      color: u.$clr-primary-300;
      margin-top: 0;
    }

    a {
      --clr-opacity: 40%;
      margin-top: 2.5rem;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      max-width: fit-content;
      // padding: 1rem;
      // outline: 1px solid;
      // text-align: center;

      &::after {
        content: "";
        width: 130px;
        height: 10px;
        background-color: hsl(51, 100%, 49%, var(--clr-opacity));
        display: inline-block;
        position: absolute;
        bottom: 3px;
        left: -8px;
        z-index: -1;
        border-radius: 50px;
        transition: background-color 250ms ease-in;
      }
    }

    #link-red::after {
      background-color: hsl(7, 99%, 70%, var(--clr-opacity));
    }

    a:hover {
      --clr-opacity: 100%;
    }
  }
}

.services {
  &__photography {
    background-image: url("../assets/images/mobile/image-photography.jpg");
    color: u.$clr-primary-500;
    padding-inline: clamp(2rem, 5vw + 2rem, 10rem);
    padding-block: clamp(0.5rem, 1vh + 1rem, 5rem);
  }

  &__graphic-design {
    background-image: url("../assets/images/mobile/image-graphic-design.jpg");
    color: u.$clr-primary-400;
    padding-inline: clamp(2rem, 5vw + 2rem, 10rem);
    padding-block: clamp(0.5rem, 1vh + 1rem, 5rem);
  }
}

.services > * {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 592px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  // padding-inline: 1rem;
}
